html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.nombre-sitio {
    margin-top: 50px;
    margin-bottom: 50px;
}
.nombre-sitio span {
    color: #037bc0;
}

/** Box Model **/
.sobre-nosotros {
    background-color: red;
    width: 200px;    
    padding: 25px;    
}
.sobre-empresa {
    background-color: blue;
    width: 500px;
    padding: 100px;    
}

/*** Display inline y block **/

p {
    background-color: red;
    width: 200px;
    height: 100px;
    display: inline-block;
}