
.nombre-sitio span {
    color: #037bc0;
}

#prueba {
    color:red;
    color:green;
    color:calc(#F0F9AF/0);
    color:purple;
}

.navegacion {
    background-color: #e1e1e1;
}
.navegacion a {
    text-transform: uppercase;
}
